In [14]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import ttest_1samp , ttest_ind

In [3]:
os.getcwd()

'C:\\Users\\USER\\Downloads'

In [4]:
sv = pd.read_csv('A+&+B+shingles.csv')

In [5]:
sv

       A     B
0   0.44  0.14
1   0.61  0.15
2   0.47  0.31
3   0.30  0.16
4   0.15  0.37
5   0.24  0.18
6   0.16  0.42
7   0.20  0.58
8   0.20  0.25
9   0.20  0.41
10  0.26  0.17
11  0.14  0.13
12  0.33  0.23
13  0.13  0.11
14  0.72  0.10
15  0.51  0.19
16  0.28  0.22
17  0.39  0.44
18  0.39  0.11
19  0.25  0.11
20  0.16  0.31
21  0.20  0.43
22  0.22  0.26
23  0.42  0.18
24  0.24  0.44
25  0.21  0.43
26  0.49  0.16
27  0.34  0.52
28  0.36  0.36
29  0.29  0.22
30  0.27  0.39
31  0.40   NaN
32  0.29   NaN
33  0.43   NaN
34  0.34   NaN
35  0.37   NaN

In [6]:
sv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       36 non-null     float64
 1   B       31 non-null     float64
dtypes: float64(2)
memory usage: 704.0 bytes

In [7]:
sv.describe()

               A          B
count  36.000000  31.000000
mean    0.316667   0.273548
std     0.135731   0.137296
min     0.130000   0.100000
25%     0.207500   0.160000
50%     0.290000   0.230000
75%     0.392500   0.400000
max     0.720000   0.580000

In [26]:
ttest_ind(sv['A'],sv['B'],nan_policy = 'omit')

Ttest_indResult(statistic=1.2896282719661123, pvalue=0.2017496571835306)

In [ ]:
# pvalue =0.2017496571835306 is greater than 0.05

In [12]:
ttest_1samp(sv['A'],0.35)

Ttest_1sampResult(statistic=-1.4735046253382782, pvalue=0.14955266289815025)

In [24]:
ttest_1samp(sv['B'],0.35,nan_policy = 'omit')

Ttest_1sampResult(statistic=-3.1003313069986995, pvalue=0.004180954800638365)